/* CSS Document */
body {
background-color: silver;
}

ul li {
color: black;
}

ul ul li {
color: red;
}

ul ul ul li {
color: green;
}

ul ul ul ul li {
color: blue;
}

ul ul ul ul ul li {
color: purple;
}

ul ul ul ul ul ul li {
color: pink;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: red;
}

